.array-container {
  position: relative;
  left: 0px;
  right: 0px;
  margin-top: 10px;
}

.array-bar {
  background-color: rgb(135, 222, 179);     /*gives color to array bars*/
  width: 5px;                               /* defines width of each bar*/
  display: inline-block;                    /* arranges the array bars in horizontal way*/
  margin: 0.5px;                           
}

.buttons {
  position: center;                        /* put buttons in centre*/
}
